<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="/css/output.css" />
<link rel="stylesheet" href="./css/navAnimation.css">


    <title>About Us</title>
  </head>
  <body>
    <div id="dimScreen" class="hidden fixed w-full h-full bg-slate-800 z-10 opacity-50"></div>
    <nav class="flex justify-between text-teal-500 bg-white items-center border-b-2 border-teal-500">
      <span class="mx-4 py-2 font-bold text-xl">
        <a href="/">
          Strate<span class="text-slate-500">GIK</span>
        </a>
      </span>
      <img id="menuIcon" class="w-6 m-4 md:hidden z-30" src="./icons/menuIcon.svg" alt="hamburger-icon">
      <ul data-ul class="md:flex-row md:top-auto md:w-auto bg-slate-50 pb-5 md:pb-px md:bg-white -top-96 text-center flex flex-col items-center w-full md:relative fixed z-20">
        
        <% if(user[0] != undefined){ %>
          <li class="md:hidden cursor-default select-none li text-slate-500 font-bold ml-2"><%= user[0].userName %></li>
          <%}%>
          <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/">Home</a></li>
        <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/courses">Course List</a></li>
        <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/contribute">Contribute</a></li>
        <!-- <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/aboutUs">About</a></li> -->
        <% if(user[0] != undefined){ %>
          <li class="hidden cursor-default select-none md:inline-block li text-slate-500 font-bold ml-2"><%= user[0].userName %></li>
        <%}%>
        <div class="flex flex-col md:items-center w-full md:w-auto md:absolute md:overflow-hidden md:top-14 md:right-0 bg-white rounded-b-md nav-drop-down md:max-h-0 transition-[max-Height] duration-1000">
          <% if(user[0] == undefined){ %>
            
            <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/users/signIn">Sign In</a></li>
            <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/users/signUp">Sign Up</a></li>
            <% } %>
            <% if(user[0] != undefined){ %>
              <!-- <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600">Hello <%= user[0].userName %></li> -->
              <% if(user[0].dashboardAccess === true){ %>
                <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/xlzjoorD6C">Dashboard</a></li>
                <% } %>
                <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/signingOut">Sign Out</a></li>
                <% } %>
              </div>
                <img id="profileIcon" class="w-7 mx-6 ml-2 md:block hidden hover:-translate-y-1 active:translate-y-1 transition-transform duration-700 profileIcon" src="./icons/profileIcon.svg" alt="profileIcon">
  
      </ul>
    </nav>
    <!-- About Us -->
    <div class="mt-32 w-2/3 mx-auto relative">
      <h1
        class="text-teal-600 font-thick text-3xl text-center lg:text-left py-3"
      >
        About Us
      </h1>
      <hr class="bg-teal-600 bg-opacity-50 h-[2px]" />
      <!-- Haider Zaidi -->

      <div class="relative">
        <span
          class="bg-teal-600 lg:hidden translate-x-1/2 right-1/2 top-[72px] w-[140px] h-[140px] [clip-path:circle()] absolute"
        >
        </span>
        <img
          style="clip-path: circle()"
          class="rounded-full mx-auto w-32 lg:hidden"
          src="./haider-compressed.jpg"
          alt=""
        />

        <div class="flex justify-between items-center">
          <div class="text-center lg:text-left">
            <h2
              class="text-teal-600 font-bold text-2xl lg:pt-10 pb-2 -mt-4 sm:mt-0 sm:py-8"
            >
              Haider Zaidi
            </h2>
            <p
              class="cursor-pointer text-sm font-light sm:text-lg md:text-xl tracking-wider md:w-1/2 xl:w-2/3 px-10 sm:px-0 mx-auto lg:mx-0"
            >
              Hello, I'm Haider Zaidi, a CS student from Batch 31 at the GIK
              Institute. As a Full Stack Developer, contributing on both Front
              but primarily the Backend for this project has been a great
              learning experience for me and I hope to get more of such
              opportunities in the future. Feel free to reach out to me for any
              personal queries using the links below.
            </p>
            <!-- social Icons  -->
            <div class="flex justify-between w-32 mt-4 mx-auto lg:mx-0">
              <a
                href="https://www.linkedin.com/in/haider-zaidi-/"
                target="_blank"
              >
                <img
                  class="w-7 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/linkedInIcon.svg"
                  alt="social-icon"
                />
              </a>
              <a href="https://github.com/haiderzaidi07" target="_blank">
                <img
                  class="w-7 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/githubIcon.svg"
                  alt="social-icon"
                />
              </a>
              <a href="mailto:haiderzaidi.work@gmail.com">
                <img
                  class="w-10 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/mailIcon.svg"
                  alt="social-icon"
                />
              </a>
            </div>
          </div>
          <div
            style="clip-path: circle()"
            class="hidden lg:block bg-teal-600 absolute 2xl:mt-10 p-1 right-0"
          >
            <img
              style="clip-path: circle()"
              class="border-4 hidden lg:block w-52 lg:w-64"
              src="./haider-compressed.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- Talha Imtiaz  -->
      <div class="mt-32 mb-48 py-2 relative">
        <span
          class="bg-teal-600 lg:hidden translate-x-1/2 right-1/2 top-[2px] w-[150px] h-[150px] [clip-path:circle()] absolute"
        >
        </span>

        <img
          style="clip-path: circle()"
          class="rounded-full mx-auto w-36 lg:hidden"
          src="./talhaProfile-compressed.jpg"
          alt="profile"
        />

        <div class="flex justify-between items-center">
          <div class="text-center lg:text-left">
            <h2 class="text-teal-600 font-bold text-2xl pt-10 pb-2 sm:py-8">
              Talha Imtiaz
            </h2>
            <p
              class="cursor-pointer text-sm font-light sm:text-lg md:text-xl tracking-wider md:w-1/2 xl:w-2/3 mx-auto lg:mx-0 px-10 sm:px-0"
            >
              Hey, I am a sophomore at GIK Institute doing a bachelor's in
              Computer Science. My ever-growing interest in designing made me
              learn UI/UX and Front-end development which helped me build this
              project. I have been teaching students for a while and if you have
              any personal or business queries, feel free to reach out at any of
              the listed social platforms. I will be happy to help you out.
            </p>
            <!-- social Icons  -->
            <div class="flex justify-between w-32 mt-4 mx-auto lg:mx-0">
              <a
                href="https://www.linkedin.com/in/talha-imtiaz342/"
                target="_blank"
              >
                <img
                  class="w-7 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/linkedInIcon.svg"
                  alt="social-icon"
                />
              </a>
              <a href="https://github.com/talhaimtiaz09" target="_blank">
                <img
                  class="w-7 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/githubIcon.svg"
                  alt="social-icon"
                />
              </a>
              <a href="mailto:talhaimtiaz2003@gmail.com">
                <img
                  class="w-10 hover:-translate-y-1 active:translate-y-1 transition-transform duration-300"
                  src="./icons/mailIcon.svg"
                  alt="social-icon"
                />
              </a>
            </div>
          </div>

          <div
            style="clip-path: circle()"
            class="hidden lg:block bg-teal-600 p-1 absolute right-0"
          >
            <img
              style="clip-path: circle()"
              class="hidden lg:block w-52 lg:w-64"
              src="./talhaProfile-compressed.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-slate-800 w-full text-center text-white py-4">
      <span class="mx-auto text-sm sm:text-md lg:texl-lg w-1/4 tracking-[8px]"
        >CONTACT US</span
      >
      <hr class="w-1/6 mt-2 mx-auto bg-slate-100" />
      <a href="mailto:strategik.contact@gmail.com">
        <span
          class="transition-opacity hover:opacity-100 opacity-80 pt-2 text-center text-xs sm:text-sm font-thin tracking-[2px] sm:tracking-[4px]"
          >strategik.contact@gmail.com</span
        >
      </a>
      <span class="block text-center text-xs font-thin tracking-wide"
        >StrateGIK © 2022. All rights reserved</span
      >
    </footer>

    <script src="./script.js"></script>
    <script>
    // Nav bar responsiveness script 
    let navDropDown=document.querySelector('.nav-drop-down')
    let profileIcon=document.querySelector('.profileIcon')
    profileIcon.addEventListener('click',()=>{
      const currHeight=getComputedStyle(navDropDown).maxHeight
      if(currHeight=='0px')
      navDropDown.style.maxHeight= '200px';
      else if(currHeight=='200px')
      navDropDown.style.maxHeight= '0px';
    })
    </script>


  </body>
</html>
