<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="./css/output.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="./css/navAnimation.css" />

    <title>Books</title>
  </head>
  <body>
    <div
      id="dimScreen"
      class="hidden fixed w-full h-full bg-slate-800 z-10 opacity-50"
    ></div>

    <nav
      class="flex justify-between text-teal-500 bg-white items-center border-b-2 border-teal-500"
    >
      <span class="mx-4 py-2 font-bold text-xl">
        <a href="/"> Strate<span class="text-slate-500">GIK</span> </a>
      </span>
      <img
        id="menuIcon"
        class="w-6 m-4 md:hidden z-30"
        src="./icons/menuIcon.svg"
        alt="hamburger-icon"
      />
      <ul
        data-ul
        class="md:flex-row md:top-auto md:w-auto bg-slate-50 pb-5 md:pb-px md:bg-white -top-96 text-center flex flex-col items-center w-full md:relative fixed z-20"
      >
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/">Home</a>
        </li>
        <!-- <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/courses">Course List</a></li> -->
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/contribute">Contribute</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/books">Books</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/aboutUs">About</a>
        </li>

        <img
          class="w-7 mx-6 ml-2 md:block hidden hover:-translate-y-1 active:translate-y-1 transition-transform duration-700 profileIcon"
          src="./icons/profileIcon.svg"
          alt="profileIcon"
        />
      </ul>
    </nav>

    <section class="mt-20 h-screen">
      <h1
        class="text-teal-600 text-lg md:text-3xl text-center font-bold tracking-wide mt-20"
      >
        List of Books
      </h1>
      <div class="mx-auto w-2/3 flex justify-center mt-10">
        <button
          onclick="showLibraryBooks()"
          class="px-4 py-1 rounded-md transition-transform hover:-translate-y-1 bg-teal-500 text-white mx-4"
        >
          Libray Books
        </button>
        <button
          onclick="showStudentsBooks()"
          class="px-4 py-1 rounded-md transition-transform hover:-translate-y-1 bg-teal-500 text-white mx-4"
        >
          Students Books
        </button>
      </div>
      <div
        id="bookContainer"
        class="bg-white rounded-lg px-10 sm:w-2/3 sm:px-0 mx-auto p-10"
      ></div>
    </section>
    <!-- SearchIcon isn't available in Beta-Version -->
    <!-- <div class="w-2/3 rounded-full mx-auto flex justify-between bg-white px-6 py-3 mb-10 mt-32">
       <input type="text" placeholder="Search by course code"> 
       <img src="./icons/searchIcon.svg" alt="">
   </div> -->

    <script src="./script.js"></script>
    <script>
      function generateBookList(title, type) {
        const postDiv = document.createElement("div");
        postDiv.classList.add(
          "text-slate-600",
          "text-sm",
          "sm:text-md",
          "transition-all",
          "duration-200",
          type,
          "hover:translate-x-2",
          "flex",
          "justify-between"
        );
        const postLink = document.createElement("a");
        postLink.setAttribute("href", "/");
        const postImage = document.createElement("img");
        postImage.classList.add("inline-block", "w-8", "sm:w-10", "md:w-auto");
        postImage.setAttribute("src", "./icons/folder-icon.svg");
        postImage.setAttribute("alt", "folder");
        const postContact = document.createElement("button");
        postContact.classList.add(
          "bg-teal-500",
          "text-white",
          "px-4",
          "h-8",
          "text-sm",
          "rounded-full"
        );
        postContact.innerHTML = "Contact";
        postContact.setAttribute("onclick", "showContact(this)");

        const postTitle = document.createTextNode(title);
        postLink.appendChild(postImage);
        postLink.appendChild(postTitle);
        postDiv.appendChild(postLink);
        postDiv.appendChild(postContact);

        const hr = document.createElement("hr");
        hr.classList.add("w-full", "h-[2px]", "bg-teal-400", "my-2", type);
        const container = document.createElement("div");
        container.appendChild(postDiv);
        container.appendChild(hr);
        return container;
      }

      function generateBooks() {
        const books = [
          "Structures: Or Why Things Don't Fall Down by J.E. Gordon",
          "The Design of Everyday Things by Donald A. Norman",
          "Engineering Mechanics: Dynamics by J.L. Meriam and L.G. Kraige",
          "Introduction to Mechatronics and Measurement Systems by David G. Alciatore and Michael B. Histand",
          "Fundamentals of Heat and Mass Transfer by Theodore L. Bergman",
          "Digital Control of Dynamic Systems by Gene F. Franklin, J. Da Powell, and Abbas Emami-Naeini",
          "Modern Control Engineering by Katsuhiko Ogata",
          "Advanced Engineering Mathematics by Erwin Kreyszig",
          "Engineering Optimization: Methods and Applications by Singiresu S. Rao",
          "Introduction to Aerospace Materials by Adrian P. Mouritz, David Gay and Elaheh Ghassemieh",
        ];

        const selfHelpBooks = [
          "The 7 Habits of Highly Effective People by Stephen Covey",
          "The Power of Now by Eckhart Tolle",
          "The Alchemist by Paulo Coelho",
          "Think and Grow Rich by Napoleon Hill",
          "The Four Agreements by Don Miguel Ruiz",
          "How to Win Friends and Influence People by Dale Carnegie",
          "Man's Search for Meaning by Viktor Frankl",
          "Atomic Habits by James Clear",
          "The Subtle Art of Not Giving a F*ck by Mark Manson",
          "Mindset: The New Psychology of Success by Carol Dweck",
        ];
        books.forEach((book) => {
          const bookGen = generateBookList(book, "library");
          document.getElementById("bookContainer").append(bookGen);
        });
        selfHelpBooks.forEach((book) => {
          const bookGen = generateBookList(book, "student");
          document.getElementById("bookContainer").append(bookGen);
        });
      }

      generateBooks();

      function showStudentsBooks() {

        const stdbooks = document.querySelectorAll(".student");
        stdbooks.forEach(book => {
          if(book.classList.contains('hidden'))
            book.classList.toggle("hidden");
        });
        const books = document.querySelectorAll(".library");
        books.forEach(book => {
          if(!book.classList.contains('hidden'))
          book.classList.add("hidden");
        });
      }
      function showLibraryBooks() {

        const libbooks = document.querySelectorAll(".library");
        libbooks.forEach(book => {
          if(book.classList.contains('hidden'))
            book.classList.toggle("hidden");
        });
        const books = document.querySelectorAll(".student");
        books.forEach(book => {
          if(!book.classList.contains('hidden'))
          book.classList.add("hidden");
        });
      }

      function showContact(btn) {
        if (btn.innerHTML === "Contact") btn.innerHTML = "0321-6689001";
        else btn.innerHTML = "Contact";
      }

      // Nav bar responsiveness script
      let navDropDown = document.querySelector(".nav-drop-down");
      let profileIcon = document.querySelector(".profileIcon");
      profileIcon.addEventListener("click", () => {
        const currHeight = getComputedStyle(navDropDown).maxHeight;
        if (currHeight == "0px") navDropDown.style.maxHeight = "200px";
        else if (currHeight == "200px") navDropDown.style.maxHeight = "0px";
      });
    </script>
  </body>
</html>
