<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/navAnimation.css" />

    <title>Course Content</title>
  </head>
  <body>
    <div
      id="dimScreen"
      class="hidden fixed w-full h-full bg-slate-800 z-10 opacity-50"
    ></div>
    <nav class="flex justify-between text-teal-500 bg-white items-center">
      <span class="mx-4 py-2 font-bold text-xl">
        <a href="/"> Strate<span class="text-slate-500">GIK</span> </a>
      </span>
      <img
        id="menuIcon"
        class="w-6 m-4 md:hidden z-30"
        src="/icons/menuIcon.svg"
        alt="hamburger-icon"
      />
      <ul
        data-ul
        class="md:flex-row md:top-auto md:w-auto bg-slate-50 pb-5 md:pb-px md:bg-white -top-96 text-center flex flex-col items-center w-full md:relative fixed z-20"
      >
      <% if(user[0] != undefined){ %>
        <li
        class="md:hidden cursor-default select-none li text-slate-500 font-bold ml-2"
        >
        <%= user[0].userName %>
      </li>
      <%}%>
      <li
        class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
      >
        <a href="/">Home</a>
      </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/courses">Course List</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/contribute">Contribute</a>
        </li>
        <li
          class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"
        >
          <a href="/aboutUs">About</a>
        </li>
        <% if(user[0] != undefined){ %>
        <li
          class="hidden cursor-default select-none md:inline-block li text-slate-500 font-bold ml-2"
        >
          <%= user[0].userName %>
        </li>
        <%}%>
        <div
          class="flex flex-col md:items-center w-full md:w-auto md:absolute md:overflow-hidden md:top-14 md:right-0 bg-white rounded-b-md nav-drop-down md:max-h-0 transition-[max-Height] duration-1000"
        >
          <% if(user[0] == undefined){ %>

          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/users/signIn">Sign In</a>
          </li>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/users/signUp">Sign Up</a>
          </li>
          <% } %> <% if(user[0] != undefined){ %>
          <!-- <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600">Hello <%= user[0].userName %></li> -->
          <% if(user[0].dashboardAccess === true){ %>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/xlzjoorD6C">Dashboard</a>
          </li>
          <% } %>
          <li
            class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"
          >
            <a href="/signingOut">Sign Out</a>
          </li>
          <% } %>
        </div>
        <img
          class="w-7 mx-6 ml-2 md:block hidden hover:-translate-y-1 active:translate-y-1 transition-transform duration-700 profileIcon"
          src="/icons/profileIcon.svg"
          alt="profileIcon"
        />
      </ul>
    </nav>
    <div class="mt-16">
      <h1 class="text-center text-slate-600 mx-auto font-bold text-2xl">
        Resources
      </h1>
      <p
        class="lg:w-1/2 mx-auto px-4 sm:px-10 lg:px-20 text-lg text-slate-500 text-center"
      >
        Instead of needlessly searching elsewhere, all that you need is
        available here
      </p>
    </div>
    <div
      class="flex flex-col sm:flex-row sm:items-stretch items-center w-2/3 mx-auto justify-center text-center my-4 mb-10"
    >
      <div
        class="border-[3px] border-teal-500 p-10 lg:text-xl font-semibold text-slate-600 shadow-md m-4 w-52 bg-white rounded-md hover:translate-x-2 sm:hover:-translate-y-2 sm:hover:translate-x-0 transition-transform duration-300 ease-in-out"
      >
        <a href="courseContent/midsFinals"
          ><img class="mb-4 mx-auto" src="/icons/poster.svg" alt="icon" />
          <h2>Mids & Finals</h2></a
        >
      </div>
      <div
        class="border-[3px] border-teal-500 p-10 lg:text-xl font-semibold text-slate-600 shadow-md m-4 w-52 bg-white rounded-md hover:translate-x-2 sm:hover:-translate-y-2 sm:hover:translate-x-0 transition-transform duration-300 ease-in-out"
      >
        <a href="courseContent/quizzes"
          ><img class="mb-4 mx-auto" src="/icons/sticky-note.svg" alt="icon" />
          <h2>Quizzes</h2></a
        >
      </div>
      <div
        class="border-[3px] border-teal-500 p-10 lg:text-xl font-semibold text-slate-600 shadow-md m-4 w-52 bg-white rounded-md hover:translate-x-2 sm:hover:-translate-y-2 sm:hover:translate-x-0 transition-transform duration-300 ease-in-out"
      >
        <a href="courseContent/assignments"
          ><img class="mb-4 mx-auto" src="/icons/file-folder.svg" alt="icon" />
          <h2>Assignments</h2></a
        >
      </div>
      <!-- <div class="p-4 border-2 border-green-400 m-4 w-52"><img class="mx-auto" src="/icons/file-folder.svg" alt="icon"><h2>Books</h2><p>Includes Books</p></div> -->
    </div>
    <script src="/script.js"></script>
    <script>
      // Nav bar responsiveness script
      let navDropDown = document.querySelector(".nav-drop-down");
      let profileIcon = document.querySelector(".profileIcon");
      profileIcon.addEventListener("click", () => {
        const currHeight = getComputedStyle(navDropDown).maxHeight;
        if (currHeight == "0px") navDropDown.style.maxHeight = "200px";
        else if (currHeight == "200px") navDropDown.style.maxHeight = "0px";
      });
    </script>
  </body>
</html>
