<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
    <link rel="stylesheet" href="./css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/navAnimation.css">
    <title>StrateGIK</title>
  </head>
<body>
  <div id="dimScreen" class="hidden fixed w-full h-full bg-slate-800 z-10 opacity-50"></div>
  <nav class="flex justify-between text-teal-500 bg-white items-center">
    <span class="mx-4 py-2 font-bold text-xl">
      <a href="/">
        Strate<span class="text-slate-500">GIK</span>
      </a>
    </span>
    <img id="menuIcon" class="w-6 m-4 md:hidden z-30" src="./icons/menuIcon.svg" alt="hamburger-icon">
    <ul data-ul class="md:flex-row md:top-auto md:w-auto bg-slate-50 pb-5 md:pb-px md:bg-white -top-96 text-center flex flex-col items-center w-full md:relative fixed z-20">
      
      <!-- <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/">Home</a></li> -->
      <% if(user[0] != undefined){ %>
        <li class="md:hidden cursor-default select-none li text-slate-500 font-bold ml-2"><%= user[0].userName %></li>
      <%}%>
      <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/courses">Course List</a></li>
      <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/contribute">Contribute</a></li>
      <li class="li md:my-4 mx-6 transition-all duration-500 hover:bg-teal-100 hover:bg-opacity-40 md:hover:bg-white hover:text-teal-600 hover:translate-x-1 md:hover:-translate-y-1 md:hover:translate-x-0"><a href="/aboutUs">About</a></li>
      <% if(user[0] != undefined){ %>
        <li class="hidden cursor-default select-none md:inline-block li text-slate-500 font-bold ml-2"><%= user[0].userName %></li>
      <%}%>
      <div class="flex flex-col md:items-center w-full md:w-auto md:absolute md:overflow-hidden md:top-14 md:right-0 bg-white rounded-b-md nav-drop-down md:max-h-0 transition-[max-Height] duration-1000">
        <% if(user[0] == undefined){ %>
          
          <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/users/signIn">Sign In</a></li>
          <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 md:px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/users/signUp">Sign Up</a></li>
          <% } %>
          <% if(user[0] != undefined){ %>
            <!-- <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600">Hello <%= user[0].userName %></li> -->
            <% if(user[0].dashboardAccess === true){ %>
              <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/xlzjoorD6C">Dashboard</a></li>
              <% } %>
              <li class="hover:bg-teal-100 hover:bg-opacity-40 hover:translate-x-1 li md:py-4 px-6 md:pr-24 transition-all duration-500 hover:text-teal-600"><a href="/signingOut">Sign Out</a></li>
              <% } %>
            </div>
              <img class="w-7 mx-6 ml-2 md:block hidden hover:-translate-y-1 active:translate-y-1 transition-transform duration-700 profileIcon" src="./icons/profileIcon.svg" alt="profileIcon">

    </ul>
  </nav>
  <!-- Intro section  -->
  <section class="bg-gradient-to-b from-teal-300 to-emerald-200 text-slate-700 text-center sm:text-left pb-10">
      <div class="flex">
        <div class="sm:w-1/2 px-16 mt-24 sm:mt-48">
          <h1 class="font-bold text-2xl sm:text-3xl lg:text-4xl">
            <span class="inline-block text-white ">Introducing</span>
            StrateGIK
          </h1>

                 <!-- beta version note -->
                 <div class="inline-block mt-2">
                  <button
                    id="beta-btn"
                    class="flex mx-auto sm:mx-0 transition-transform duration-100 hover:-translate-y-1 items-center shadow-sm bg-white bg-opacity-40 rounded-md px-3 py-1 text-light text-slate-600 text-sm"
                  >
                    Beta Version
                    <img
                      id="beta-arrow-icon"
                      class="w-2 ml-2"
                      src="./icons/arrowHeadIcon.svg"
                      alt="icon"
                    />
                  </button>
                    <p
                      id="beta-note"
                      class="transition-all max-h-0 overflow-hidden duration-1000 delay-100 text-sm w-52 my-1 rounded-md text-slate-700 bg-white bg-opacity-30"
                    >
                      An early version of a program or application that contains most
                      of the major features, but is not yet complete
                    </p>
                </div>

          <!-- strategic defination  -->
          <div class="hover:-translate-y-1 md:hover:translate-x-1 md:hover:translate-y-0 transition-transform duration-300 bg-white bg-opacity-10 shadow-xl px-6 py-4 mt-12 rounded-md text-white">
            <h1 class="font-semibold text-xl sm:text-2xl my-4 text-slate-600">strategic</h1>
            <h3 class="font-light text-gray-400 mb-2">/strəˈtiːdʒɪk/</h3>
            <span class="italic mt-3 -ml-3 text-sm sm:text-md text-slate-700">adjective</span>
            <h2 class="text-xs sm:text-sm py-3 text-slate-500">Relating to the identification of long-term or overall aims and interests and the means of achieving them.</h2>
          </div>
          <p class="lg:text-xl px-2 font-light py-6 lg:py-4 text-slate-600">
            The definition above of the word 'strategic' lays out the underlying objective of this website i.e to provide students of GIKI, with dreams of academic excellence(or just a DHL :P) a platform to help them achieve that, hence the name 'StrateGIK'.
          </p>
   
          <button
          class="block mx-auto sm:mx-0 duration-500 transition-transform active:shadow-none hover:-translate-y-1 active:translate-y-0 shadow-lg bg-white px-4 py-3 mt-32 rounded-full font-bold"
        >
          <a href="/contribute">Contribute</a>
        </button>
          
        </div>
        <img class="w-1/2 hidden sm:inline-block" src="./icons/intro-illustration.svg" alt="" />
      </div>
    </section>

    <!-- intro bg curve -->
    <div class="relative h-[150px] w-full overflow-hidden">
      <div
        class="shadow-inner shadow-teal-800 h-double w-double bg-emerald-200 b-round -translate-x-1/4 -translate-y-1/2 overflow-hidden"
      ></div>
    </div>

    <!-- Quick intro  -->
    <section class="px-16">
      <h2 class="font-bold text-center md:text-left text-2xl py-4 mt-32">A QUICK INTRO</h2>
      <p class="text-center sm:text-lg md:text-left md:w-2/3">
        We felt that it was quite tiresome to search for resources of the different courses taught at GIKI hence, we built this platform with those resources available at one place. Targeting the students of FSc and A Levels, who are used to studying through Past Papers which are readily available online. This is just an attempt to replicate that on a small scale for the students of GIKI.
      </p>
    </section>

    <!-- feature cards  -->
    <section class="mt-32">
      <!-- Everything you need  -->
      <h2
        class="sm:mx-auto font-bold text-3xl my-4 mx-10 sm:w-1/3 text-center tracking-widest"
      >
        Everything You Need
      </h2>
      <hr
        class="transition-all delay-0 duration-400 hover:w-1/4 h-1 my-4 mb-16 w-1/6 mx-auto bg-teal-500"
      />
      <!-- cards  -->
      <div
        class="flex sm:flex-row flex-col justify-center items-center text-center bg-gradient-to-b from-teal-100 to-emerald-100 p-10"
      >
        <div
          class="shadow-lg transition-transform ease-in-out duration-500 hover:-translate-y-4 bg-white rounded-md w-52 xl:w-80 p-8 m-4"
        >
          <img src="./icons/sticky-note.svg" alt="icon" class="mx-auto" />
          <h3 class="text-teal-600 font-bold sm:text-lg md:text-xl py-2 mt-4">
            Quizzes
          </h3>
      
        </div>
        <div
          class="shadow-lg transition-transform ease-in-out duration-500 hover:-translate-y-4 bg-white rounded-md  w-52 xl:w-80 p-8 m-4"
        >
          <img src="./icons/poster.svg" alt="icon" class="mx-auto" />
          <h3 class="text-teal-600 font-bold sm:text-lg md:text-xl py-2 mt-4">
            Mids&Finals
          </h3>
       
        </div>
        <div
          class="shadow-lg transition-transform ease-in-out duration-500 hover:-translate-y-4 bg-white rounded-md w-52 xl:w-80 p-8 m-4"
        >
          <img src="./icons/file-folder.svg" alt="icon" class="mx-auto" />
          <h3 class="text-teal-600 font-bold sm:text-lg md:text-xl py-2 mt-4">
            Assignments
          </h3>
        </div>
      </div>
      <a href="/courses">
        <button
        class="border-2 text-xs sm:text-sm md:text-md lg:text-lg transition-colors-transform active:translate-y-1 duration-200 ease-in hover:bg-teal-500 hover:text-white border-teal-500 text-teal-500 px-4 py-2 my-16 mx-auto block"
        >

        View All Course Content
      </button>
    </a>
    </section>
    <!-- FAQs -->
    <section>
      <div class="px-16 mt-16">
        <h2 class="font-bold text-2xl text-center md:text-left">FAQs</h2>

        <!-- Questions' answers  -->
<div class="mt-8">
        <!-- Question #1 -->
        <div>
          <div
            class="flex items-center justify-between bg-white w-full relative"
          >
            <h3 class="font-semibold sm:text-lg py-2">
              Is this platform is officially associated with GIK Institute?
            </h3>
            <img
              class="w-3 mx-4 expand"
              src="./icons/plusIcon.svg"
              alt="expand-icon"
            />

          </div>
          <!-- Answer1  -->

          <div
            class="answer-p transition-[max-height] ease-in duration-700 max-h-0 overflow-hidden bg-slate-100"
          >
            <p class="p-2">
              No, this is a prototype created by students of GIK Institute.
            </p>
          </div>
          <hr class="mb-2 bg-slate-400 h-[2px] w-full" />
        </div>
        <!-- Question #2 -->
        <div>
          <div
            class="flex items-center justify-between bg-white w-full relative"
          >
            <h3 class="font-semibold sm:text-lg py-2">
              What is the Contribute feature and how does it work?
            </h3>
            <img
              class="w-3 mx-4 expand"
              src="./icons/plusIcon.svg"
              alt="expand-icon"
            />

          </div>
          <!-- Answer#2  -->

          <div
            class="answer-p transition-[max-height] ease-in duration-700 max-h-0 overflow-hidden bg-slate-100"
          >
            <p class="p-2">
               The Contribute feature allows you to upload any quiz, assignment and mid/final you have that others may find helpful. For this an account is required.
            </p>
          </div>
          <hr class="mb-2 bg-slate-400 h-[2px] w-full" />
        </div>
        <!-- Question #3 -->
        <div>
          <div
            class="flex items-center justify-between bg-white w-full relative"
          >
            <h3 class="font-semibold sm:text-lg py-2">
              I am unable to find my desired course?
            </h3>
            <img
              class="w-3 mx-4 expand"
              src="./icons/plusIcon.svg"
              alt="expand-icon"
            />

          </div>
          <!-- Answer#3  -->

          <div
            class="answer-p transition-[max-height] ease-in duration-700 max-h-0 overflow-hidden bg-slate-100"
          >
            <p class="p-2">
              If the course isn't listed, you can go to the contribute tab and use the link mentioned.
            </p>
          </div>
          <hr class="mb-2 bg-slate-400 h-[2px] w-full" />
        </div>

      </div>
      </div>
    </section>

    <!-- We need your help  -->
    <div class="px-10 sm:px-16 my-10 text-center md:text-left">
      <h2 class="font-bold text-2xl py-4 md:w-1/3">We need your help</h2>
      <p class="md:w-1/2">
        If you feel anything needs improvement or is missing, feel free to inform us through the feedback form.
      </p>
      <a href="https://forms.gle/JWHK3JojtfTp3Wrk9" target="_blank">
        <button
        class="border-2 transition-colors-transform active:translate-y-1 duration-200 ease-in hover:bg-teal-500 hover:text-white border-teal-500 text-teal-500 px-4 py-2 mt-10 mb-32 mx-auto"
        >
        Feedback
      </button>
    </a>
    </div>

    <footer class="bg-slate-800 w-full text-center text-white py-4">
      <span class="mx-auto text-sm sm:text-md lg:texl-lg w-1/4 tracking-[8px]"
        >CONTACT US</span
      >
      <hr class="w-1/6 mt-2 mx-auto bg-slate-100" />
      <a href="mailto:strategik.contact@gmail.com">

        <span
        class="transition-opacity hover:opacity-100 opacity-80 pt-2 text-center text-xs sm:text-sm font-thin tracking-[2px] sm:tracking-[4px]"
        >strategik.contact@gmail.com</span
        >
      </a>
      <span
        class="block text-center text-xs font-thin tracking-wide"
        >StrateGIK © 2022. All rights reserved</span
      >
    </footer>

    <script src="./script.js"></script>
    <script>
      // Nav bar responsiveness script 
      let navDropDown=document.querySelector('.nav-drop-down')
      let profileIcon=document.querySelector('.profileIcon')
      profileIcon.addEventListener('click',()=>{
        const currHeight=getComputedStyle(navDropDown).maxHeight
        if(currHeight=='0px')
        navDropDown.style.maxHeight= '200px';
        else if(currHeight=='200px')
        navDropDown.style.maxHeight= '0px';
      })
      </script>


 
  </body>
</html>
