<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body class="bg-teal-100">
      <img class="absolute -z-10 w-full h-screen" src="/icons/bg-abstract-lines.svg" alt="lines-vector">
    <!-- Sign In box -->
    <div class="bg-white rounded-2xl py-16 px-10 sm:w-96 shadow-xl sm:ml-auto my-36 mx-4 sm:mx-20">
      
      <img src="/icons/loginIllustration.svg" alt="">
      <h1 class="font-semibold text-slate-500 text-lg sm:text-2xl text-center py-2 mt-4 mb-4">Sign In</h1>
  
     
      <form action="/users/signingIn" method="post">

        <input
        class="text-center w-full py-3 my-2 sm:text-lg bg-slate-100 rounded-md shadow-md"
        type="email"
        name="email"
        id="Email"
        placeholder="Email"
        />
        <input
        class="text-center w-full py-3 my-2 sm:text-lg bg-slate-100 rounded-md shadow-md"
        type="password"
        name="password"
        id="Password"
        placeholder="Password"
        />
        <button
        class="block mt-10 bg-teal-400 text-white font-semibold sm:text-lg w-full py-3 my-4 rounded-lg shadow-md"
        >
        Sign In
    </button>
    </form>
    <!-- horizontal line stroke effect  -->
    <!-- disabled in beta version
    <div class="flex items-center justify-center">
        <hr
          class="bg-gradient-to-l from-teal-500 to-transparent h-[4px] w-1/5 border-none"
          />
          <span class="px-2">Or Sign In with</span>
          <hr
          class="bg-gradient-to-r from-teal-500 to-transparent h-[4px] w-1/5 border-none"
          />
        </div>
        <button
        class="flex items-center justify-start bg-teal-400 px-4 py-2 my-4 rounded-lg w-full shadow-md"
        >
        <img
          class="border-4 border-white bg-white rounded-full"
          src="/icons/GoogleLogo.svg"
          alt="Google-logo-icon"
        />
        <span class="text-white font-semibold text-lg mx-auto"
          >Sign In with Google</span
        >
      </button>
    </div> -->
  </body>
</html>
